<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PublishingHouse.Properties.Settings.publishingHouseConnectionString"
            connectionString="Data Source=DESKTOP-N8GPQUA;Initial Catalog=publishingHouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PublishingHouse.Properties.Settings.UserConnectionString"
            connectionString="Data Source=DESKTOP-N8GPQUA;Initial Catalog=User;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>